.windowslogo {
display: block;
text-indent: -9999px;
width: 30px;
height: 30px;
background: url(../selectiondialog/ms.svg) no-repeat center;
background-size: 30px 30px ;
fill: green;

}

.googlelogo {
display: block;
text-indent: -9999px;
width: 30px;
height: 30px;
background: url(../selectiondialog/google.svg) no-repeat center;
background-size: 30px 30px ;
fill: green;
}

/*------------------------------------*\
Box sizing
\*------------------------------------*/
html {
box-sizing: border-box; }

*, *:before, *:after {
box-sizing: inherit; }

/* Base
==================== */
/*------------------------------------*\
Page
\*------------------------------------*/
html {
color: #4e4d4d;
font-size: 16px;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.6em;
font-weight: 300; }

body {
background-color: #fff; }

/**
* Ordered list
*/
ol {
padding-left: 24px;
-webkit-font-smoothing: antialiased; }

/**
* Unordered list
*/
ul {
padding-left: 24px;
-webkit-font-smoothing: antialiased; }

/**
* Checklist
*/
ul.checklist {
text-indent: -3px;
list-style: none;
list-style-position: outside; }

ul.checklist li {
margin-bottom: 5px; }

ul.checklist li:before {
content: "\f00c";
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
transform: translate(0, 0);
margin-left: -1em;
margin-right: 0.5em; }

/*------------------------------------*\
Wrappers
\*------------------------------------*/
.site-wrapper {
*zoom: 1;
width: auto;
max-width: 1400px;
float: none;
display: block;
margin-right: auto;
margin-left: auto;
padding-left: 0;
padding-right: 0;
background: #fff;
border-left: 1px solid #eee;
border-right: 1px solid #eee;
-webkit-box-shadow: 0px 4px 8px 0px rgba(51, 51, 51, 0.2);
-moz-box-shadow: 0px 4px 8px 0px rgba(51, 51, 51, 0.2);
box-shadow: 0px 4px 8px 0px rgba(51, 51, 51, 0.2); }
.site-wrapper:before, .site-wrapper:after {
content: '';
display: table; }
.site-wrapper:after {
clear: both; }
@media screen and (max-width: 1400px) {
.site-wrapper {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border-left: none;
border-right: none; } }

.wrapper {
*zoom: 1;
width: auto;
max-width: 980px;
float: none;
display: block;
margin-right: auto;
margin-left: auto;
padding-left: 0;
padding-right: 0;
padding: 0 20px; }
.wrapper:before, .wrapper:after {
content: '';
display: table; }
.wrapper:after {
clear: both; }

.wrapper--wide {
*zoom: 1;
width: auto;
max-width: 980px;
float: none;
display: block;
margin-right: auto;
margin-left: auto;
padding-left: 0;
padding-right: 0;
padding: 0 0; }
.wrapper--wide:before, .wrapper--wide:after {
content: '';
display: table; }
.wrapper--wide:after {
clear: both; }

.wrapper--full {
min-height: 100vh; }

/*------------------------------------*\
Grid
\*------------------------------------*/
.row {
*zoom: 1; }
.row:before, .row:after {
content: '';
display: table; }
.row:after {
clear: both; }

/**
* Mobile first
*/
.half, .quarter, .collapse {
display: block;
clear: both;
float: none;
width: 100%;
margin-left: auto;
margin-right: auto;
-webkit-transition: width 0.5s;
-moz-transition: width 0.5s;
-o-transition: width 0.5s;
transition: width 0.5s; }
.one:first-child, .two:first-child, .three:first-child, .four:first-child, .five:first-child, .full:first-child, .half:first-child, .third:first-child, .quarter:first-child, .collapse:first-child {
margin-left: auto; }
.one:last-child, .two:last-child, .three:last-child, .four:last-child, .five:last-child, .full:last-child, .half:last-child, .third:last-child, .quarter:last-child, .collapse:last-child {
margin-right: auto; }

/**
* Grid widths
*/
@media screen and (min-width: 750px) {
.half.collapse {
*zoom: 1;
float: left;
clear: none;
text-align: inherit;
width: 48%;
margin-left: 0%;
margin-right: 4%; }
.half.collapse:before, .half.collapse:after {
content: '';
display: table; }
.half.collapse:after {
clear: both; }
.half.collapse:last-child {
margin-right: 0%; }
.quarter.collapse {
*zoom: 1;
float: left;
clear: none;
text-align: inherit;
width: 22%;
margin-left: 0%;
margin-right: 4%; }
.quarter.collapse:before, .quarter.collapse:after {
content: '';
display: table; }
.quarter.collapse:after {
clear: both; }
.quarter.collapse:last-child {
margin-right: 0%; } }

/**
* Shift/Unshift
*/
@media screen and (min-width: 550px) {
.shift-half {
position: relative;
left: 52%; }
.unshift-half {
position: relative;
left: -52%; }
.shift-quarter {
position: relative;
left: 26%; }
}

/**
* Unshift on mobile
*/
@media screen and (max-width: 750px) {
.shift-one, .unshift-one, .shift-two, .unshift-two, .shift-three, .unshift-three, .shift-four, .unshift-four, .shift-half, .unshift-half, .shift-third, .unshift-third, .shift-two-thirds, .unshift-two-thirds, .shift-quarter, .unshift-quarter {
position: static;
left: 0; } }

/* Components
==================== */

.th-btn-social{position:relative;padding-left:40%;padding-top:10px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:25%;line-height:48px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}

.th-btn-google, .th-btn-google:active{
    color: #444;
    background-color: white;
    background: url(../selectiondialog/google.svg) no-repeat 5% 50% white;
    background-size: 25px 25px;
    text-indent: 5em;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 10px;
}

.th-btn-microsoft, .th-btn-microsoft:active {
    color: #fff;
    background-color: #125acd;
    background: url(../selectiondialog/ms.svg) no-repeat 5% 50% #2f2f2f;
    background-size: 25px 25px;
    text-indent: 5em;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 10px;
   
}

.th-btn-microsoft:active {
    filter: brightness(95%);
}

.th-btn-google:active {
    filter: brightness(95%);
  }

.btn {
    border: 1px solid  grey;
    font-weight: 600;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

